<!-- Things that need to happen here:
Ability to see ranks from previous round
Ability to see pledges submitted in current round
Ability to delete pledges submitted in current round
Total spent points for each character
Ability to advance the round?
-->
<h1 class="auction_title">Auction</h1>
<%= render 'character_list', :game => @game, :character => @characters %>
