// Place all the styles related to the CharRounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.pledge_form fieldset.inputs {
  display: none;
  visibility: hidden;
  empty-cells: hide;
  margin: 0px;
  padding: 0px;
}

div.pledge_form fieldset.actions {
  border: none;
}

div.pledge_form ol {
  list-style: none;
}

div.pledge_form li {
  list-style: none;
}

table.pledge_table {
  width: 100%;
  word-wrap: break-word;
}

td.pledge_field input {
  width: 80%
}
