// Place all the styles related to the FinalCharacters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea.text_entry {
  height: 10em;
  resize: none;
}

textarea.text_entry_small {
  height: 5em;
  resize: none;
}

table.ranks_table {
  word-wrap: break-word;
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 15px;
  td, th {
    border: 1px solid;
    padding: 5px;
  }
  th {
    background-color: #C1E1A6;
  }
  td {
    background-color: #ADD8E6;
  }
}

table.tools_table, table.regencies_table {
  word-wrap: break-word;
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 15px;
  td, th {
    border: 1px solid;
    padding: 5px;
  }
  th {
    background-color: #C1E1A6;
  }
  td {
    background-color: #ADD8E6;
  }
}
