<%= page_heading "Index of Character Systems" %>
<%= link_to 'Back to Home', '/' %>
<table>
  <tr>
    <th>Title</th>
  </tr>

  <% @character_systems.each do |character_system| %>
    <tr>
      <td><%= link_to character_system.title, character_system_path(character_system) %></td>
    </tr>
  <% end %>
</table>
