<div class='nested-comment'>
    <% user = User.find(f.user_id) %>
    <table class='comment'>
      <td class='user'><%= user.name %></td>
      <td class='body'><%= f.body %></td>
    </table>
</div>
