<div class='nested-subpages'>
    <%= f.subtitle %>
    <table>
        <td class='sidebar'><%= f.sidebar.html_safe %></td>
        <td class='body'><%= f.body.html_safe %></td>
      </tr>
    </table>
</div>
