<% @subpage_id = f.subtitle.gsub(/\s+/, "") %>
<div class='nested-subpages' id=<%= @subpage_id %>>
    <%= f.subtitle %>
    <table class='subpage'>
        <td class='sidebar'><%= f.sidebar.html_safe %></td>
        <td class='body'><%= f.body.html_safe %></td>
      </tr>
    </table>
</div>
