<% @subpage_id = f.subtitle.gsub(/\s+/, "").gsub("\'","") %>
<div class='nested-subpages' id=<%= @subpage_id %>>
    <h2 class='subpage_title'><%= f.subtitle %></h2>
    <table class='subpage'>
        <td class='sidebar'><%= f.sidebar.html_safe %></td>
        <td class='body'><%= f.body.html_safe %></td>
      </tr>
    </table>
</div>
