<h1> Index of Rules Pages </h1>

<%= link_to 'New rules page', new_rules_page_path %>

<table>
  <tr>
    <th>Title</th>
  </tr>

  <% @rules_pages.each do |rules_page| %>
    <tr>
      <td><%= link_to rules_page.title, rules_page_path(rules_page) %></td>
      <td><%= link_to 'Edit', edit_rules_page_path(rules_page) %></td>
    </tr>
  <% end %>
</table>
