<div class='nested-regencies'>
    <tr>
      <% if f.name == "" || f.name == nil %>
        <td><%= link_to "Regency", character_system_regency_path(@character_system,f) %></td>
      <% else %>
        <td><%= link_to f.name, character_system_regency_path(@character_system,f) %></td>
      <% end %>
      <td><%= f.points %></td>
    </tr>
</div>
