<tr>
  <td><%= link_to final_character.name, character_system_final_character_path(final_character.character_system, final_character) %></td>
  <td><%= link_to final_character.character_system.title, character_system_path(final_character.character_system) %></td>
</tr>
