<%= page_heading "Index of Games" %>
<% if logged_in? %>
  <% if gm_user? %>
    <%= link_to 'New game', new_game_path %>
  <% end %>
<% end %>

<table>
  <tr>
    <th>Title</th>
  </tr>

  <% @games.each do |game| %>
    <tr>
      <td><%= link_to game.title, game_path(game) %></td>
    </tr>
  <% end %>
</table>
