<div class='nested-fields'>
  <%= f.inputs do %>
    <%= f.input :depends_on %>
    <%= f.input :parent_id, :as => :hidden, :value => @ability.id %>
    <%= link_to_remove_association "remove dependency", f %>
  <% end %>
</div>
