<tr class="nested-comment">
  <% user = User.find(f.user_id) %>
  <td class='user'><%= user.name %></td>
  <td class='comment_body'><%= f.body %></td>
  <% if logged_in? %>
    <% if admin_user? %>
      <td class='comment_link'><%= link_to 'Delete Comment', [f.rules_page, f], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  <% end %>
</tr>
