<% @subpage_id = f.subtitle.gsub(/\s+/, "").gsub("\'","") %>
<div class='nested-subpages' id=<%= @subpage_id %>>
    <h2 class='subpage_title'><%= f.subtitle %></h2>
    <table class='subpage'>
        <td class='sidebar'><%= sanitize f.sidebar.html_safe, :tags => %w(p strong b i u table tr th td a), :attributes => %w(href) %></td>
        <td class='body'><%= sanitize f.body.html_safe, :tags => %w(p strong b i u table tr th td a), :attributes => %w(href) %></td>
      </tr>
    </table>
</div>
