<div class="ability_info">
  <h3>Reminders for the Ability Tree (The Ability Tree will not validate until the character is submitted):</h3>
  <% @ability_count_messages.each do |message|  %>
    <p><%= message %></p>
  <% end %>
  <p>Any dependencies for an ability must also be in the tree.</p>
</div>
