<div class='nested-fields'>
  <%= f.inputs do %>
    <% if @current_ability == nil %>
      <% if @char_tree.abilities_all(false).first == nil %>
        <% abil_id = 0 %>
      <% else %>
        <% abil_id = @char_tree.abilities_all(false).first.id %>
      <% end %>
    <% else %>
      <% abil_id = @current_ability.id %>
    <% end %>
    <%= f.select :ability_id, options_for_select(@char_tree.abilities_collection(false), abil_id), :include_blank => false %>
    <%= f.input :char_tree_id, :as => :hidden, :value => @char_tree %>
    <%= link_to_remove_association "remove ability", f %>
  <% end %>
  <br>
</div>
