<h1>Editing Char Tree</h1>

<%= render 'form', char_tree: @char_tree %>
<%= render 'ability_requirements_display' %>


<%= link_to 'Show', character_system_char_tree_path(@character_system, @char_tree) %> |
<%= link_to 'Back', character_system_final_character_path(@character_system, @final_character) %>
