<p id="notice"><%= notice %></p>

<p>
  <strong>Final character:</strong>
  <%= @char_tree.final_character %>
</p>

<%= link_to 'Edit', edit_char_tree_path(@char_tree) %> |
<%= link_to 'Back', char_trees_path %>
