// Place all the styles related to the Tools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.abilities {
  word-wrap: break-word;
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
  margin-bottom: 15px;
  td, th {
    border: 1px solid;
    padding: 5px;
  }
  th {
    background-color: #C1E1A6;
  }
  td {
    background-color: #ADD8E6;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
