// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.homepage {
  //float: left;
  width: 100%;
  font-family: Garamond, Helvetica, sans-serif;
}

div.rules_pages {
  width: 34%;
  background-color: #bddbd3;
  border-radius: 25px;
  padding: 1%;
  float: left;
}

div.auctions {
  width: 30%;
  //margin: 0 20px 0 10px;
  //margin-left: 10px;
  background-color: #C1E1A6;
  border-radius: 25px;
  //padding: 10px;
  float: right;
  position: relative;
  padding: 1%;
  h3 {
    text-align: center;
  }
  table {
    width: 100%;
    th, td {
      text-align: center;
    }
  }
}

div.character_systems {
  width: 30%;
  float: right;
  background-color: #ADD8E6;
  border-radius: 25px;
  padding: 1%;
  h3 {
    text-align: center;
  }
  table {
    width: 100%;
    th, td {
      text-align: center;
    }
  }
}

div.link_index {
  background-color: #81bab9;
  border-radius: 15px;
  padding: 1%;
  margin: 0 0 3% 0;
}

div.active_characters {
  background-color: #6eac3a;
  border-radius: 15px;
  padding: 1%;
  margin: 0 0 3% 0;
}

div.active_games {
  background-color: #95cc66;
  border-radius: 15px;
  padding: 1%;
  margin: 0 0 3% 0;
}

div.active_final_characters {
  background-color: #5aa5a3;
  border-radius: 15px;
  padding: 1%;
  margin: 0 0 3% 0;
}

div.past_final_characters {
  background-color: #81bab9;
  border-radius: 15px;
  padding: 1%;
  margin: 0 0 3% 0;
}


table.content_link_row, table.content_link_header {
  width: 100%;
  table-layout: fixed;
  td.string, th.string_header {
    width: 40%;
    li {
      margin-bottom: 0em;
      input {
        width: 90%;
      }
    }
  }
  td.integer, th.integer_header {
    width: 10%;
    li {
      margin-bottom: 0em;
    }
  }
  td.links, th.links_header {
    width: 10%;
    li {
      margin-bottom: 0em;
    }
  }
}
