// Place all the styles related to the FinalCharacters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

textarea.text_entry {
  height: 10em;
  resize: none;
}

textarea.text_entry_small {
  height: 5em;
  resize: none;
}
